@-moz-document regexp(".*isis.tu-berlin.de.*") {
/* ==UserStyle==
@name         ISIS TUB Dark
@description  A dark theme for ISIS TUB.
@namespace    github.com/Re-Krass/Dark-Theme-ISIS-TUB
@author       B4rtware, Re-Krass
@homepageURL  https://github.com/Re-Krass/Dark-Theme-ISIS-TUB
@version      0.0.1
==/UserStyle== */
}

@-moz-document regexp(".*isis.tu-berlin.de.*") {
:root {
    --main-bg-color: rgb(20, 20, 20);
    --main-navs-color: rgb(40, 40, 40);
    --main-white: rgb(245, 245, 245);
    --main-white-muted: rgb(200, 200, 200);
}
}

@-moz-document regexp(".*isis.tu-berlin.de.*") {
body, html {
    background-color: var(--main-bg-color);
}

/*** Fonts ***/
h1, h2, h3, h4, h5, h6 {
    color: var(--main-white)!important;
}
.text-muted {
    color: var(--main-white-muted)!important;
}
/* a {
    color: rgb(255, 255, 255)!important;
    font-weight: bold;
} */

.subject {
    color: var(--main-white)!important;
}
.author {
    color: var(--main-white)!important;
}
.maincontent {
    background-color: var(--main-bg-color)!important;
    color: rgb(238, 238, 238)!important;
}

.tub-logo {
    background-color: var(--main-navs-color)!important;
}
.return-home {
    background-color: var(--main-bg-color)!important;
}
.header-right {
    background-color: var(--main-navs-color)!important;
}
.home {
    filter: grayscale(100%) invert(100%)!important;
}
#nav-notification-popover-container, #nav-message-popover-container {
    background-color: var(--main-bg-color);
}
.nav-right-top {
    background-color: var(--main-navs-color)!important;
}

.hidden-print {
    background-color: var(--main-navs-color)!important;
}
#block-site-news {
    border-bottom: none!important;
}
.row.maincontent.clearfix {
    padding: 0px 15px;
}
#block-region-side-pre .card-title {
    border-bottom: 4px solid var(--main-white-muted);
}
[data-region="blocks-column"] {
    padding: 0px;
}

.left {
    width: 0px!important;
} 
/* list-group-item list-group-item-action active */

/*** No Progress - nur für Kästchen Kurse ***/
.no-progress {
    /* Von den Kästchen den weißen rechten Rand entfernt */
    -webkit-box-shadow: none!important;
    -moz-box-shadow: none!important;
    box-shadow: none!important;
}

/* .tub-nav {
    background-color: rgb(111, 85, 85);
    color: rgb(6, 138, 226)!important;
}
 */
/*** Left Navbar ***/
#nav-drawer {
    background-color: var(--main-navs-color);
}
/* #nav-drawer .a {
    color: rgb(255, 255, 255)!important;
} */
#nav-drawer .list-group .list-group-item-action.active {
    color: var(--main-bg-color)!important;
    background-color: var(--main-white-muted)!important;
}
#nav-drawer .list-group .list-group-item {
    color: rgb(227, 227, 227)!important;
}
.nav-search {
    background-color: rgb(195, 3, 3)!important;
}

.custom-drawer-toggle.nephthys-collapse.nephthys-shrink > button { 
    top: 0px;
}
.custom-drawer-toggle.nephthys-collapse > button { 
    top: 200px;
    height: 35px;
    width: 35px;
}

.nav-link {
    color: rgb(255, 255, 255)!important;
/*     color: rgb(197, 14, 31)!important; */
    font-weight: bold;
}
.h5 a {
    color: rgb(255, 255, 255)!important;
    font-weight: bold;
}


/*** https://shibboleth.tubit.tu-berlin.de/ ***/
}

@-moz-document url-prefix("http://example.com") {
/***
https://isis.tu-berlin.de/theme/image.php/nephthys/theme/1552409344/isis_header_2


***/
}