.user-navbar {
    background-color: black;
    .usermenu {
        #action-menu-1 {
            #action-menu-1-menubar {
                .action-menu-trigger {
                    .dropdown {
                        #dropdown-1 {
                            .userbutton {
                                color: black;
                            }
                        }
                        #action-menu-1-menu {
                            .dropdown-divider {
                                color: black;
                            }
                        }
                    }
                }
            }
        }
    }
}