.script-box {
  width: 70%;
  margin: 0 auto;

  &__item-container {
    margin: 10px;
    padding: 5px;
    border-radius: 4px;
    border: 1px solid $--main-white-muted;
  }

  &__item {
    display: flex;
    padding: 1px;

    &__line-number {
      padding: 2px 4px;
      background-color: #303030;
      text-align: right;
      flex: 0 0 45px;

      &--current {
          background-color: $--main-white-muted;
          color: $--main-bg-color;
      }
    }

    &__content {
      //padding: 2 4px;
      margin-left: 5px;
      flex: 1;
    }
  }
}
